
body {
    background-color: black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.active {
    background-color: #666;
    color: white;
    width: 100%;
}

li a:hover:not(.active) {
    background-color:gold;
    width: 100%;
    color: black;
  }

li a {
    display: block;
    width: 100px;
    text-decoration: none;
}

h1 {
    color: black;
    text-align: center;
}

a {
    color: white;
}

p {
    font-family: verdana;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */


nav {
    float: left;
    width: 20%;
    height: 300px;
    /* only for demonstration, should be removed */
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px;
    /* only for demonstration, should be removed */
}

div img {
    float: left;
    width: 20%;
    height: 20%;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

/* Clear floats after the columns */

section:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}


p a {
    text-decoration: none;

}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}